.code {
  width: 100%;
  min-height: 10em;
  margin: 2rem 0 0 0;
  font-size: 1em;
  font-family: inherit;
  resize: none;
  box-sizing: border-box;
}

.grammer--header {
  text-align: left;
  margin: 0;
}

.grammer--line {
  text-align: left;
  margin: 0;
  white-space: pre;
}